/*===================NAV=======================*/
.area-nav{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(29, 71, 4);
}
nav{
    display: flex;
    background-color: rgb(29, 71, 4);
    width: 40%;    
}

nav ul{
    display: flex;
    flex-direction: row;
    flex: 1;
    
}

nav li{
    list-style: none;
    flex-grow: 1;
    
}

nav a{
    font-size: 0.9vw;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFF;
}